<p id="notice"><%= notice %></p>

<%= model_field('exid', "ID", @executable.exid) %>
<%= model_field('identifier', "Feature", @executable.identifier) %>
<%= model_field('comment', "Vendor", @executable.comment) %>

<%= link_to 'Edit', edit_executable_path(@executable) %> |
<%= link_to 'Back', executables_path %>
