<p id="notice"><%= notice %></p>

<%= model_field('exid', "ID", @executable.exid) %>
<%= model_field('identifier', "Feature", @executable.identifier) %>
<%= model_field('comment', "Vendor", @executable.comment) %>

<%= model_link 'Edit', edit_executable_path(@executable) %> |
<%= model_link 'Back to Features', executables_path %>
