<h1>Group <%= @group.name %></h1>
<%= model_field :name, "Name", @group.name %>

<%= render :partial => "/reportable_model_usage_links", :locals => {:model_title => "Group", :model_type => :group} %>
<%= model_link "View Group on MSI DB", @group.msi_db_link, :id => "msi_db_link" %>
<%= model_link "Back to Group Index", groups_path %>
