<h1>User <%= @user.username %></h1>
<%= model_field :username, "Username", @user.username %>

<%= #model_link "View Person", person_path(@user.person), :id => "person_link"
%>
<%= #model_link "View Group", group_path(@user.group), :id => "group_link"
%>
<%= model_link "View User on MSI DB", @user.msi_db_link, :id => "msi_db_link" %>
<%= model_link "Back to User Index", users_path %>
