<h1>User <%= @user.username %></h1>
<%= model_field :username, "Username", @user.username %>

<%= render :partial => "/reportable_model_usage_links", :locals => {:model_title => "User", :model_type => :user} %>
<%= model_link "View User on MSI DB", @user.msi_db_link, :id => "msi_db_link" %>
<%= model_link "Back to User Index", users_path %>
