<%= form_for(@purchase, :html => { :class => :bp} ) do |f| %>
  <fieldset>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :os %>
    <%= select("purchase", "os", Purchase::OPERATING_SYSTEMS, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :flexlm %>
    <%= f.check_box :flexlm %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fy10 %>
    <%= f.text_field :fy10 %>
  </div>
  <div class="field">
    <%= f.label :fy11 %>
    <%= f.text_field :fy11 %>
  </div>
  <div class="field">
    <%= f.label :fy12 %>
    <%= f.text_field :fy12 %>
  </div>
  <div class="field">
    <%= f.label :fy13 %>
    <%= f.text_field :fy13 %>
  </div>
  <div class="field">
    <%= f.label "Resource" %>
    <%= resource_name_field(@purchase.resource.blank? ? '' : @purchase.resource.name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </fieldset>

<% end %>
