<p id="notice"><%= notice %></p>

<%= model_field('resource_name', "Resource", @purchase.resource.name) %>
<%= model_field('os', "Operating System", @purchase.os) %>
<%= model_field('fy10', "FY 2010", @purchase.fy10) %>
<%= model_field('fy11', "FY 2011", @purchase.fy11) %>
<%= model_field('fy12', "FY 2012", @purchase.fy12) %>
<%= model_field('fy13', "FY 2013", @purchase.fy13) %>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
