<h1>Listing events</h1>

<table>
  <tr>
    <th>Evid</th>
    <th>Ev date</th>
    <th>Vendor</th>
    <th>Feature</th>
    <th>User</th>
    <th>Ugrp</th>
    <th>Host</th>
    <th>Operation</th>
    <th>Comment</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.evid %></td>
    <td><%= event.ev_date %></td>
    <td><%= event.vendor %></td>
    <td><%= event.feature %></td>
    <td><%= event.unam %></td>
    <td><%= event.ugrp %></td>
    <td><%= event.host %></td>
    <td><%= event.operation %></td>
    <td><%= event.comment %></td>
    <td><%= link_to 'Show', event %></td>
  </tr>
<% end %>
</table>

<br />

