<h1>Listing resources</h1>

<table>
  <tr>
    <th>Rid</th>
    <th>Name</th>
    <th>Short name</th>
    <th>Description</th>
    <th>Calendar desc</th>
    <th>Documentation</th>
    <th>Module</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.rid %></td>
    <td><%= resource.name %></td>
    <td><%= resource.short_name %></td>
    <td><%= resource.description %></td>
    <td><%= resource.calendar_desc %></td>
    <td><%= resource.documentation %></td>
    <td><%= resource.module %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
