<h1>Resource <%= @resource.name %></h1>

<%= model_field('name', "Name", @resource.name) %>
<%= model_field('short_name', "Short Name", @resource.short_name) %>
<%= model_field('description', "Description", @resource.description) %>
<%= model_field('documentation', "Documentation", @resource.documentation) %>
<%= model_field('module', "Module", @resource.module) %>

<%= data_source_summary_link("FLEXlm Data Summary",  resources_overview_path(@resource, :data_source => "flexlm"), "flexlm") %>
<%= data_source_summary_link("Collectl Data Summary",  resources_overview_path(@resource, :data_source => "collectl"), "collectl") %>

<%= model_link "Build Per User FLEXlm Usage Report", new_resource_resource_user_report_path(@resource.id) %>
<%= model_link "Build Per Group FLEXlm Usage Report", new_resource_resource_group_report_path(@resource.id) %>
<%= model_link "Build Per Department FLEXlm Usage Report", new_resource_resource_department_report_path(@resource.id) %>
<%= model_link "Build Per College FLEXlm Usage Report", new_resource_resource_college_report_path(@resource.id) %>
<%= model_link "Build FLEXlm Feature Report", new_resource_executables_report_path(@resource.id) %>

<%= model_link "Build Per User Collectl Usage Report", new_resource_resource_user_report_path(@resource.id, :data_source => :collectl) %>
<%= model_link "Build Per Group Collectl Usage Report", new_resource_resource_group_report_path(@resource.id, :data_source => :collectl) %>
<%= model_link "Build Per Department Collectl Usage Report", new_resource_resource_department_report_path(@resource.id, :data_source => :collectl) %>
<%= model_link "Build Per College Collectl Usage Report", new_resource_resource_college_report_path(@resource.id, :data_source => :collectl) %>

<%= model_link "Manage Collectl Executables", collectl_executables_path(:resource_id => @resource) %>
<%= model_link "View on MSI DB", @resource.msi_db_link, :id => 'msi_db_link' %>
<%= model_link "Back to Resource Index", resources_path %>
