<h1>Collectl Executable <%= @instance.name %></h1>
<%= model_field('name', "Name", @instance.name) %>
<%= model_field('resource', "Resource", @instance.resource.blank? ? "Not mapped to a resource" : @instance.resource.name) %>
<%= data_source_summary_link("Collectl Data Summary",  collectl_executable_overview_path(@instance), "collectl") %>
<%= model_link "Plot Executable Usage", new_collectl_executable_collectl_executables_plot_path(@instance) %>
<%= model_link "Delete Executable", collectl_executable_path(@instance), :method => :delete %>
<%= model_link "Back to Resource #{@instance.resource.name}", resource_path(@instance.resource) %>

