<%= form_for(@instance, :url => {:action => :create, :resource_id => @resource.id, :mappable_type => @mappable_type }, :html => {:class => :bp}) do |f| %>
  <%= render :partial => "/save_error", :locals => {:instance => @instance} %>
  <fieldset>
    <%= f.hidden_field :resource_id %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>

  </fieldset>
<% end %>
