<%= form_tag(url_for({:action => "update"}), :class => "bp", :method => :put) do %>

  <% if @event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
      <% @event_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "_method", "put" %>
  <p class="form_item">
    ID<br />
    <%= @event_type.id %>
  </p>

  <p class="form_item">
    Feature<br />
    <%= @event_type.feature %>
  </p>
  <p class="form_item">
    Vendor<br />
    <%= @event_type.vendor %>
  </p>
  <p class="form_item">
    <label for="resource_name">Resource Name</label>
    <%= resource_name_field(@event_type.resource_name) %>
  </p>
 
  <div class="actions">
    <%= submit_tag("Update Event Type") %>
  </div>
<% end %>
