<%= show_report_form_tag(action ||= :index) do %>
  <fieldset>
    <legend>
      Report Options
    </legend>
    <%= render :partial => '/date_options' %>
    <%= render :partial => '/exclude_employees_option', :locals => local_assigns %>
    <% if not (local_assigns[:limit_users_option].nil?) and (local_assigns[:limit_users_option]) %>
    <p class="form_item"  title="Limit report to the specified users with the specified usernames (if any).">
      <label for="limit_users">Limit Users</label>
      <%= text_area_tag("limit_users", session[:last_limit_users] || "") %>
    </p>
    <% end %>
    <% if not (local_assigns[:pick_resources].nil?) and (local_assigns[:pick_resources]) %>
    <p class="form_item" title="Pick Resources">
      <label for="resource_name">Resources</label>
      <%= resource_name_field("", :"data-delimiter" => ',') %>
    </p>
    <% end %>
    <% [:data_source, :model_type, :user_id, :group_id, :resource_id, :department_id, :college_id].each do |param| %>
      <%= hidden_field_tag(param.to_s, params[param]) unless params[param].blank? %>
    <% end %>
    <%= submit_tag("Build Report", :id => 'build_report_button') %>
  </fieldset>
<% end %>