<!DOCTYPE html>
<html>
<head>
  <title>MSI Software Accounting (Version <%= APP_VERSION.strip %>)</title>
  <link rel="shortcut icon" href="http://static.msi.umn.edu/db/favicon.ico" type="image/x-icon" />
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "jqgrid/themes/smoothness/jquery-ui-1.8.custom.css", 'jqgrid/ui.jqgrid.css' %>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>

  <!--[if IE]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "jquery-ui-1.8.15.custom.min" %>
  <%= javascript_include_tag "autocomplete-rails" %>
  <%= javascript_include_tag "application" %>

  <%=raw jqgrid_javascripts %>

  <!--[if IE]><%= javascript_include_tag 'flotomatic/excanvas.min.js' %></script><![endif]-->
  <%= javascript_include_tag 'flotomatic/jquery.flot' %>
  <%= javascript_include_tag 'flotomatic/jquery.flot.selection.min'  %>
  <%= javascript_include_tag 'flotomatic/flotomatic'  %>
  <%= javascript_include_tag 'flotomatic/sizzle.min' %>

  <%= javascript_include_tag "ZeroClipboard" %>
  <script>
  </script>
</head>
<body class="bp">
  <div class="two-column">
    <div id="header"></div>
    <div id="sidebar">
      <ul class="link-group" id="links-flexlm-reports">
        <lh>FLEXlm Reports</lh>
        <li><%= link_to "Resources", new_resources_report_path %></li>
        <li><%= link_to "Colleges", new_colleges_report_path %></li>
        <li><%= link_to "Departments", new_departments_report_path %></li>
        <li><%= link_to "Groups", new_groups_report_path %></li>
      </ul>
      <ul class="link-group" id="links-navigate">
        <lh>Navigate</lh>
        <li><%= link_to "Resources", resources_path %></li>
        <li><%= link_to "FLEXlm Features", executables_path %></li>
      </ul>
      <ul class="link-group" id="links-manage">
        <lh>Manage</lh>
        <li><%= link_to "FLEXlm Mappings", event_types_path %></li>
        <li><%= link_to "Purchases", purchases_path %></li>
      </ul>
      <ul class="link-group">
        <lh>MSI</lh>
        <li><%= link_to "MSI Home", "http://www.msi.umn.edu/" %></li>
        <li><%= link_to "MSI DB", "https://www.msi.umn.edu/db/" %></li>
        <li><%= link_to "Logout", "https://www.msi.umn.edu/db/logout" %></li>
      </ul>
      <ul class="link-group">
        <lh>Software Accounting</lh>
        <li><%= link_to "Home", home_index_path %></li>
        <li><%= link_to "Source Code", "https://github.com/jmchilton/msi_software_accounting" %></li>
      </ul>
    </div>
    <div id="content">
      <% unless notice.blank? %>
        <div class="notice" id="notice"><%= notice %></div>
      <% end %>
      <% unless alert.blank? %>
        <div class="error" id="error"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
    </div>
  </div>
</body>
</html>
