<!DOCTYPE html>
<html>
<head>
  <title>SoftwareWebApp</title>
  <link rel="shortcut icon" href="http://static.msi.umn.edu/db/favicon.ico" type="image/x-icon" />
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "jquery-ui-1.8.15.custom.min" %>
  <%= javascript_include_tag "application" %>

  <%= jqgrid_stylesheets 'smoothness' %>
  <%=raw jqgrid_javascripts %>

</head>
<body>

<%= yield %>

</body>
</html>
